<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <add key="XmlProcessRepositoryPath" value="C:\PhDWork\DCRSRepository\Specifications" />

    <add key="XmlProcessInstancesRepositoryPath" value="C:\PhDWork\DCRSRepository\ProcessInstances" />

    <add key="XmlProcessArchiveRepositoryPath" value="C:\PhDWork\DCRSRepository\Archive" />

    <add key="XmlProcessLayoutRepositoryPath" value="C:\PhDWork\DCRSRepository\Layout" />    

    <add key="SubscriptionManagerFile" value="C:\PhDWork\DCRS_Prototype_sln\subscriptions.xml"/>

    <add key="SubscriptionServiceBaseURL" value="net.tcp://localhost:8202/"/>

    <add key="RepositoryServiceBaseURL" value="net.tcp://localhost:8203/"/>

    <add key="ProcessExecutionServiceBaseURL" value="net.tcp://localhost:8204/"/>


  </appSettings>
  
  
  <!--<system.serviceModel>
    
    <services>
      <service name="SampleConsoleTestApplication.NotificationContract">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="NewBinding0"
          contract="ITU.DK.DCRS.CommonTypes.ServiceContracts.IRepositoryNotificationContract" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8303/NotificationService/NotificationContract" />
          </baseAddresses>
        </host>
      </service>
    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment --><!--
          <serviceMetadata httpGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />



    <client>
      <endpoint address="net.tcp://localhost:8202/RepositorySubscriptionService" binding="netTcpBinding" bindingConfiguration="ReliableTransactionalTCP" contract="ITU.DK.DCRS.CommonTypes.ServiceContracts.IPersistentSubscriptionService"/>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="NewBinding0" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </wsHttpBinding>
      
      <netTcpBinding>
        <binding name="ReliableTransactionalTCP" transactionFlow="true">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>-->

</configuration>