<?xml version="1.0" encoding="utf-8" ?>
<!--
Copyright (c) Microsoft Corporation. All rights reserved.  
THIS CODE IS MADE AVAILABLE AS IS, WITHOUT WARRANTY OF ANY KIND. 
THE ENTIRE RISK OF THE USE OR THE RESULTS FROM THE USE OF THIS CODE 
REMAINS WITH THE USER
-->
<configuration>

  <configSections>
    <section name="application" type="Microsoft.Dynamics.Mobile.Framework.Configuration.ApplicationSection, Microsoft.Dynamics.Mobile.Framework.Runtime" />
    <section name="databaseCatalog" type="Microsoft.Dynamics.Mobile.Framework.Services.Configuration.DatabaseCatalogSection, Microsoft.Dynamics.Mobile.Framework.Runtime"/>
    <section name="serviceSettings" type="Microsoft.Dynamics.Mobile.Framework.Configuration.ServiceConfigurationSection, Microsoft.Dynamics.Mobile.Framework.Runtime"/>
  </configSections>

  <!-- Enables or disables the UserRole validation on start-up -->
  <application text="Sample" validation="false" />

  <databaseCatalog>
    <!-- This section configures the databases accessible from the DatabaseCatalog service -->
    <databases>
      <add name="AppDatabase" databasePath="AppDatabase.sdf" type="Microsoft.Dynamics.Mobile.Framework.DataAccess.SqlDatabase, Microsoft.Dynamics.Mobile.Framework.DataAccess" />
      <add name="SysDatabase" databasePath="SysDatabase.sdf" type="Microsoft.Dynamics.Mobile.Framework.DataAccess.SqlDatabase, Microsoft.Dynamics.Mobile.Framework.DataAccess" />
    </databases>
  </databaseCatalog>

  <serviceSettings>
    <!-- 
			This section configures the services and their scope.
			Following attributes are used to describe a service:
			
			type						- Type that the service implements
      implementation	- The service implementation
			factory		      - The factory used to create the service
			scope						- Can be either Global, Orchestration or Tasklet
			startup					- Boolean indicating if the service should be started at application startup 
												(only global services can be started at application startup)
		-->
    <services>
      <!-- Required service for logging -->
      <add type="Microsoft.Dynamics.Mobile.Framework.ILoggingService, Microsoft.Dynamics.Mobile.Framework"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.RequestLoggingServiceFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <endpointName>MobileLoggingServer</endpointName>
          <stamps>4</stamps>
          <logPath>Logs\</logPath>
        </configuration>
      </add>

      <!-- Required service for submitting RequestDocuments -->
      <add type="Microsoft.Dynamics.Mobile.Framework.Entities.IRequestDocumentService, Microsoft.Dynamics.Mobile.Framework"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.RequestDocumentServiceFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <endpointName>MobileDocumentServer</endpointName>
          <logPath>Documents\</logPath>
        </configuration>
      </add>

      <!-- Service for queueing WebService requests. Required by the RequestDocumentService and the RequestLoggingService -->
      <add type="Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent.RequestManager, Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.RequestManagerFactory, Microsoft.Dynamics.Mobile.Framework.Runtime"
           startup="true">
        <configuration>
          <databaseName>SysDatabase</databaseName>
        </configuration>
      </add>

      <!-- Service for configuring url endpoints. Required by the RequestManager and the ReplicationAgent -->
      <add type="Microsoft.Dynamics.Mobile.Framework.EndpointCatalog.IEndpointCatalog, Microsoft.Dynamics.Mobile.Framework.EndpointCatalog"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.EndpointCatalogFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <!-- This section configures the url endpoints managed by the EndpointCatalog -->
          <endpoints>
            <!-- The endpoint used for dispatching RequestDocuments-->
            <add name="MobileDocumentServer" address="http://server/document.svc" />
            <!-- The endpoint used for dispatching LogEntries -->
            <add name="MobileLoggingServer" address="http://server/logging.svc" />
            <!-- The endpoint accessing used for deployment service -->
            <add name="MobileDeploymentServer" address="http://server/deployment.svc" />
          </endpoints>
        </configuration>
      </add>

      <!-- Service for dispatching queued requests. Required by the RequestManager  -->
      <add type="Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent.IRequestDispatcher, Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.RequestDocumentDispatcherFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <appSettings>
            <add key="LogErrors" value="true"/>
          </appSettings>
        </configuration>
      </add>

      <!-- Service for monitoring connection status. Required by the RequestManager, ReplicationAgent and the RequestAgent -->
      <add type="Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent.IConnectionMonitor, Microsoft.Dynamics.Mobile.Framework.DisconnectedAgent"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.ConnectionMonitorFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <!-- 
						This section configures the price of the different connections available on the device. 
						Only requests with a Stamp value greather or equal to the Price of the 
						current network will be dispatched 
					-->
          <connectionItems>
            <!-- CellConnection corresponds to the GPRS or 3G connection of the device -->
            <add  type="CellConnection" price="8"/>
            <!-- NicConnection corresponds to the Wireless network card -->
            <add  type="NicConnection" price="2"/>
            <!-- DesktopConnection corresponds to the Desktop Pass-Through (DTPT) protocol-->
            <add  type="DesktopConnection" price="1"/>
          </connectionItems>
        </configuration>
      </add>

      <!-- Service for managing Credentials. Required by the RequestManager, RequestAgent, ReplicationAgent and the CredentialManagerTasklet -->
      <add type="Microsoft.Dynamics.Mobile.Framework.Services.ICredentialService, Microsoft.Dynamics.Mobile.Framework.Runtime"
                 implementation="Microsoft.Dynamics.Mobile.Framework.Services.CredentialService, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <labels>
            <add key="MenuItem_Cancel" text="Cancel" />
            <add key="MenuItem_Accept" text="Accept" />
            <add key="Label_DialogText" text="Credentials" />
            <add key="Label_DialogText1" text="Enter the valid credentials for the endpoint {0} " />
            <add key="Label_DialogText2" text="on network {0}" />
            <add key="Label_UserName" text="User name (example: domain\user)" />
            <add key="Label_Domain" text="Domain" />
            <add key="Label_Password" text="Password" />
            <add key="Label_SaveCredentials" text="Save credentials" />
            <add key="Label_SaveForAllNetworks" text="Save for all networks" />
          </labels>
          <databaseName>SysDatabase</databaseName>
        </configuration>
      </add>
      <!-- Service for synchronizing data. Required by the SynchronizationTasklet -->
      <add type="Microsoft.Dynamics.Mobile.Framework.Services.ISynchronizationService, Microsoft.Dynamics.Mobile.Framework.Runtime"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.SynchronizationServiceFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <!-- Sets the database used by the SynchronizationService for storing execution result -->
        <configuration>
          <databaseName>SysDatabase</databaseName>
        </configuration>
      </add>

      <!-- Service for configuring Synchronization Agents. Required by the SynchronizationService -->
      <add type="Microsoft.Dynamics.Mobile.Framework.Services.IAgentSetCatalog, Microsoft.Dynamics.Mobile.Framework.Runtime"
           factory="Microsoft.Dynamics.Mobile.Framework.Services.Factories.AgentSetCatalogFactory, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <!--  This section configures the AgentSets that can be executed by the SynchronizationService. -->
          <agentSets>
            <add name="agentSet 1">
              <agents>
                <add name="Request" text="Send Requests" optional="true" type="Microsoft.Dynamics.Mobile.Framework.Services.Synchronization.RequestAgent, Microsoft.Dynamics.Mobile.Framework.Runtime">
                  <configuration>
                    <labels>
                      <add key="Label_Initializing" text="Initializing" />
                      <add key="Label_SubmittingRequests" text="Submitting request {0} of {1}." />
                      <add key="Label_NoConnectionAvailable" text="No connection available." />
                      <add key="Label_ErrorTimeout" text="Dispatching of requests has timed out." />
                      <add key="Label_ErrorDeadRequests" text="Cannot send {0} request(s)." />
                      <add key="Label_ErrorDeadRequestsWithErrors" text="Cannot send {0} request(s) because of the following error(s): {1}" />
                    </labels>
                  </configuration>
                </add>
                <add name="Deployment" text="Update application" optional="true" type="Microsoft.Dynamics.Mobile.Framework.Deployment.DeploymentAgent, Microsoft.Dynamics.Mobile.Framework.Runtime">
                  <configuration>
                    <labels>
                      <add key="Label_StatusGetInventoryList" text="Checking installation" />
                      <add key="Label_StatusGetUpdateList" text="Getting list of updates" />
                      <add key="Label_StatusDownloading" text="Downloading update {0} of {1}" />
                      <add key="Label_StatusDownloadComplete" text="Download complete" />
                      <add key="Label_CredentialsCanNotBeEmpty" text="No username or password specified" />
                      <add key="Label_ConfirmationRestart" text="To complete the update, close the application and then restart it. Do you want to close the application now?" />
                    </labels>
                    <endpointName>MobileDeploymentServer</endpointName>
                  </configuration>
                </add>
                <add name="TestAgent1" text="Test Agent1" optional="true" type="SynchronizationAgent.TestAgent, SynchronizationAgent"/>
                <add name="TestAgent2" text="Test Agent2" optional="true" type="SynchronizationAgent.TestAgent, SynchronizationAgent"/>
              </agents>
            </add>
          </agentSets>
        </configuration>
      </add>

      <!-- Service for managing request document handlers. Optional for the RequestDocumentService -->
      <add type="Microsoft.Dynamics.Mobile.Framework.Services.IHandlerCatalog, Microsoft.Dynamics.Mobile.Framework.Runtime"
           implementation="Microsoft.Dynamics.Mobile.Framework.Services.HandlerCatalog, Microsoft.Dynamics.Mobile.Framework.Runtime" >
        <configuration>
          <handlers>
            <add type="Microsoft.Dynamics.Mobile.Components.Services.RequestDocumentTracking.RequestDocumentTrackerHandler, Microsoft.Dynamics.Mobile.Framework.Runtime" default="true" />
            <add type="CreateCustomerHandler.CreateCustomerHandler, CreateCustomerHandler">
              <requestDocuments>
                <add name="CreateCustomer" />
              </requestDocuments>
            </add>
          </handlers>
        </configuration>
      </add>

      <!-- Service for tracking request document status. Required by the RequestDocumentTrackerHandler and the RequestDocumentTrackerTasklet -->
      <add type="Microsoft.Dynamics.Mobile.Components.Services.IRequestDocumentTracker, Microsoft.Dynamics.Mobile.Framework.Runtime"
           implementation="Microsoft.Dynamics.Mobile.Components.Services.RequestDocumentTracker, Microsoft.Dynamics.Mobile.Framework.Runtime">
        <configuration>
          <databaseName>SysDatabase</databaseName>
        </configuration>
      </add>

      <add type="Services.StyleService.StyleService, StyleService"
           factory="Services.StyleService.Configuration.StyleServiceFactory, StyleService">
        <configuration>
          <appSettings>
            <add key="headerBackColor" value="InactiveCaption"/>
            <add key="headerTextColor" value="#000000"/>
            <add key="mainControlBackColor" value="Control"/>
            <add key="mainControlTextColor" value="Black"/>
            <add key="controlBackColor" value=""/>
            <add key="controlTextColor" value="Black"/>
          </appSettings>
        </configuration>
      </add>

    </services>
  </serviceSettings>

</configuration>
