<?xml version="1.0" ?>
<r>

<context>
  <positions>
    <pos p1="hilde" p2="itu4"/>
    <pos p1="hniss" p2="itu4"/>
    <pos p1="mol"   p2="NOWHERE"/>
  </positions>
  <building>
    <floor p1="itu3">
      <room p1="3A07" p2="mol"/>
      <person p1="hniss"/>
    </floor>
    <floor p1="itu4">
      <room p1="4A05"/>
      <room p1="4A09"/>
      <person p1="hilde"/>
    </floor>
  </building>
</context>

</r>