<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>

    <add key="NotificationServiceBaseURL" value="http://localhost:8305/"/>

    <add key="RepositorySubscriptionServiceURL" value="net.tcp://localhost:8202/RepositorySubscriptionService"/>

    <add key="RepositoryProviderServiceURL" value="net.tcp://localhost:8203/ProcessRepositoryService"/>

    <add key="ProcessExecutionServiceURL" value="net.tcp://localhost:8204/ProcessExecutionService"/>

  </appSettings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
