text.nametext {
  font-family: serif;
  font-size: smaller;
  font-weight: normal;
  stroke: none;
  fill: black
}

rect.root {
  fill: none;
  stroke: black;
  stroke-dasharray: 10,5
}

circle.binder {
  fill: white;
  stroke: black
}

ellipse.node {
  fill: none;
  stroke: black
}

text.nodetext {
  font-weight: bold;
  fill: blue;
  stroke: none
}

rect.site {
  fill: silver;
  stroke: none
}

text.sitetext {
  font-size: smaller;
  font-weight: normal;
  fill: black;
  stroke: none
}

path.link {
  stroke: black;
  fill: none
}