text[cls="nametext"] {
  font-family: serif;
  font-size: smaller;
  font-weight: normal;
  stroke: none;
  fill: black
}

rect[cls="root"] {
  fill: none;
  stroke: black;
  stroke-dasharray: 10,5
}

circle[cls="binder"] { fill: white; stroke: black }

ellipse[cls="node"] { fill: none; stroke: black }

text[cls="nodetext"] {
  font-weight: bold;
  fill: blue;
  stroke: none
}

rect[cls="site"] { fill: silver; stroke: none }

text[cls="sitetext"] {
  font-size: smaller;
  font-weight: normal;
  fill: black;
  stroke: none
}

path[cls="link"] {
  stroke: black;
  fill: none
}