body {
	background : #dddddd;
	color : #562a2a;
	margin : 0;
}

a {
	color : #884444;
	text-decoration : none;
	font-style : italic;
}

a:hover {
	font-style : italic;
	text-decoration : underline;
}

/*** Main section ***/

#content {
	margin : auto;
	width : 80%;
	min-width : 700px;
	/*max-width : 1200px;*/
	margin-top : 5px;
	margin-bottom : 5px;
	padding : 0;
	background : #fff6d0;
	border : white 5px solid;
}

#title *{
	margin: 0;
}

#title {
	padding : 10px;
	background : #ffe5be;
	text-align : center;
	border-bottom : white 5px solid;
}

#footer {
	padding : 10px;
	background : #ffe5be;
	text-align : center;
	border-top : white 5px solid;
}



#main {	
	margin : 5px 20px;
	min-height : 350px;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.error {
	color: #d42a2a;
	font-style: italic;
}

/*** Form style ***/

.data_input {
	padding-left : 20px;
}

.data_input p {	
	font-size : 0.85em;
	color : #98352e;
}

.add_link {
	text-decoration : underline;
}

.add_link a:hover {
	font-style : normal;
}

.file_input_label {
	margin-bottom : 0.2em;
}

.file_input {
	margin-top : 0.2em;	
	margin-bottom : 1em;
	margin-left : 0.5em;
}

label.error_required {
	font-weight: bold;
	color: #d42a2a;
}

/*** Example style ***/

.example table {
	margin-top : 1em;
	margin-left : 50px;	
	border-collapse: collapse;	
}

.example td, .example th {
	border : 1px #ffd699 solid;
	padding : 0.3em 0.5em;
}


/*** Result style ***/

.file_list {
	margin-bottom : 2em;	
}
.file_list p {
	margin-bottom : 0.1em;
}

ul {
	margin-top : 0;
}

li {
	list-style-type : square;
	margin : 0.2em;
}

.result{
	overflow : auto;
}

.source {
	float: left;
	width : 49%;
}

.target {
	float: right;
	width : 49%;
}


.valid {
	color : green;	
}

.xmlverb-default {
	padding: 2px;
	border: 1px dotted #5b5e6b;
	background: #f0f0f0;
	font-family: monospace;
	font-size: 0.9em;
	color: black;
	max-height: 600px;
	overflow: auto;
	white-space: nowrap
}
.xmlverb-element-name {
	color: #0037ff;
	font-weight: bold; 
}

.xmlverb-element-nsprefix, .xmlverb-ns-name {
	color: #6cab20; 
	font-weight: bold; 
}

.xmlverb-attr-name {
	color: #660076;
	font-weight: bold;
}

.xmlverb-attr-content, .xmlverb-ns-uri {
	color: #5961ff;
	font-style: italic; 
}

.xmlverb-comment, .xmlverb-pi-name, .xmlverb-pi-content {
	color: #3f7f7f;
	font-style: italic;
}
