      <% for example in @examples %>
        <%= link_to example.filename,
	      {:controller => 'bplweb', :action => 'index', :id => example.id,
	      :method => :get},
	      {:title => example.title} %><br />
      <% end %>

      <%= content_tag(:div, @msg, :class => "msg") %>
