<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >

    <add key="XmlProcessRepositoryPath" value="C:\PhDWork\DCRSRepository\Specifications" />
    <add key="XmlProcessInstancesRepositoryPath" value="C:\PhDWork\DCRSRepository\ProcessInstances" />
    <add key="XmlProcessArchiveRepositoryPath" value="C:\PhDWork\DCRSRepository\Archive" />

    <add key="SubscriptionManagerFile" value="C:\PhDWork\DCRS_Prototype_sln\subscriptions.xml"/>
    <add key="SubscriptionServiceBaseURL" value="net.tcp://localhost:8202/"/>
    <add key="RepositoryServiceBaseURL" value="net.tcp://localhost:8203/"/>
    <add key="ProcessExecutionServiceBaseURL" value="net.tcp://localhost:8204/"/>
  </appSettings>

  <system.serviceModel>
    <services>
      <!--<service name="MyPublishService">
        <endpoint address="net.tcp://localhost:8001/MyEventService" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="IMyEvents"/>
        -->
      <!--<endpoint address="net.tcp://localhost:8100/MyEventService" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="IRepositoryNotificationContract"/>-->
      <!--
        -->
      <!--<endpoint address="mex" binding="mexTcpBinding"   contract="IMetadataExchange"/>-->
      <!--
      </service>

      <service name="MyPublishService2">
        -->
      <!--<endpoint address="net.tcp://localhost:8001/MyEventService" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="IMyEvents"/>-->
      <!--
        <endpoint address="net.tcp://localhost:8101/MyEventService2" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="IRepositoryNotificationContract"/>
        -->
      <!--<endpoint address="mex" binding="mexTcpBinding"   contract="IMetadataExchange"/>-->
      <!--
      </service>-->


      <!--<service name="RepositorySubscriptionService">
        <endpoint address="net.tcp://localhost:8202/RepositorySubscriptionService" binding="netTcpBinding" bindingConfiguration="ReliableTransactionalTCP" contract="ITU.DK.DCRS.CommonTypes.ServiceContracts.IPersistentSubscriptionService"/>
      </service>-->
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="standard">
          <serviceThrottling maxConcurrentSessions="10000"/>
          <serviceMetadata policyVersion="Policy15"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="ReliableTransactionalTCP" transactionFlow="true">
          <reliableSession enabled="true"/>
        </binding>
        <binding name="ReliableTCP">
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>


</configuration>